.bodyWrapper {
  min-height: 100vh;
  width: 100vw;
}

.bodyWrapper__toolbar {
  display: flex;
  justify-content: center;
  padding: 0;
  height: 100px;
}

.bodyWrapper__matNavList {
  display: flex;
  justify-content: center;
}

.bodyWrapper_matNavListElement {
  font-size: 1.5625rem;
}
