<div class="container">
  <div class="row">
    <div
      class="chart-container"
      style="position: relative; height: 40vh; width: 50vw"
    >
      <canvas height="40vh" width="80vw" id="canvas">
        {{ chartSmall }}
      </canvas>
    </div>
  </div>
  <div class="row">
    <div
      class="chart-container"
      style="position: relative; height: 40vh; width: 50vw"
    >
      <canvas height="40vh" width="80vw" id="canvas2">
        {{ chartMedium }}
      </canvas>
    </div>
  </div>
  <div class="row">
    <div
      class="chart-container"
      style="position: relative; height: 40vh; width: 50vw"
    >
      <canvas height="40vh" width="80vw" id="canvas3">
        {{ chartLarge }}
      </canvas>
    </div>
  </div>
</div>
