.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper__contentCard {
  padding: 3.125rem;
  margin-top: 1.5rem;
}

.contentWrapper__formCardActions {
  display: flex;
  justify-content: flex-end;
}

.contentWrapper__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contentWrapper__formField {
  flex: 1 1 300px;
  padding: 5px;
}

.contentWrapper__submitButton {
  height: 40px;
}
